<div data-role="container" id="container">
<div id="login-form-bg">
  <%= form_tag sessions_path, :id=>'login-form' do %>
    <div class="fieldcontain">
      <%= label_tag :usuario %><br />
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="fieldcontain">
      <%= label_tag :contraseña %><br />
      <%= password_field_tag :password %>
    </div>
    <p rel="external" data-ajax="false" class="button"><%= submit_tag "Log in", :rel=>"external" %></p>
  <% end %>
</div>
</div>
