<%= form_tag(multiple_user_operations_path(current_user,:operation => params[:operation]), :method => "post", "data-ajax"=>"false" ) do %>
	<fieldset class="ui-grid-a">
		<div class="">
		<% if params[:operation] == 'withdraw' %>
		  <p rel="external" data-ajax="false" class="button"><%= submit_tag "Retirar a seleccionados", :rel=>"external" %></p>
		<% else %>
		  <p rel="external" data-ajax="false" class="button"><%= submit_tag "Donar a seleccionados", :rel=>"external" %></p>
		<% end%>
		</div>     
	</fieldset>
	<div data-role="controlgroup">
		<ul id="alumnos-multiple" class="tab-content" data-role="listview" data-theme="c"  data-filter="true">
			<% if students %>
				<% students.each_with_index do |student,index| %>
					<li>
						<input data-theme="c" type="checkbox" value="<%= student.id%>" name="to_students[]" id="alum-<%= index %>" class="custom" />
						<label data-theme="c" for="alum-<%= index %>"><%= student.complete_name %></label>
					</li>
				<% end %>
			<% else %>
				<li>No hay resultados</li>
			<% end%>
		</ul>
	</div>  	
<% end %>



