<h2 id="title">Mi Historial</h2>
<ul id="user-history" data-role="listview" data-theme="c">
	<% @operations.each do |d| %>
	  <li>
	  	  <%= image_tag ("icons/#{d.type}.png") %>
	  	  <div class="transaction-info">
	  	     <p class="users"><%= d.to_user.complete_name %><span class="amount"> <%= d.amount %> puntos</span> </p>
	  	     <p class="description"><%= d.description %></p>
	  	     <div class="time-place">
	  	     	<span class="time"><%= time_ago_in_words(d.created_at) %></span>
	  	     </div>
	  	  </div>
	  </li>
	<% end %>
</ul>
