<% if params[:withdraw] %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n castigar&eacute; ahora?</h2>
<% else %>
  <h2 id="title">Mmmm... &iquest;A qui&eacute;n deseo donarle ahora?</h2>
<% end %>
<%= form_tag students_path,:id=>'search-donor-form', :method => 'get' do %>
     <input type="search" placeholder="Ingresar nombre o apellido.." id="search" name="search" />
     <%if params[:withdraw]%><input type="hidden" name="withdraw" value="true" /><% end %>
<% end %>
<div>
<% if params[:withdraw] %>
  <button id="make-multiple-withdrawal">Retirar a seleccionados</button>
<% else %>
  <button id="make-multiple-donation">Donar a seleccionados</button>
<% end %>
</div>
<ul id="alumnos-multiple" class="tab-content" data-role="listview" data-theme="c">
	<% if @students %>
		<% @students.each do |student| %>
		  <% if params[:withdraw] %>
		    <li id="<%= student.id%>-<%= student.complete-name%>">
		      <span class="student-name"><%= student.complete_name %></span> <button class="donate-selection">Seleccionar</button>
		  <% else %>
		    <li id="<%= student.id%>">
		      <span class="student-name"><%= student.complete_name %></span> <button class="donate-selection">Seleccionar</button>
		    </li>
		  <% end %>
		<% end %>
  <% else %>
  	<li>No hay resultados</li>
  <% end%>
</ul>


