<h2 id="title">Nueva donaci&oacute;n</h2>
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	 <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>
<%= form_for @donation, :url => donate_student_path(@student) do |f| %>
  <%= f.text_field :to, :value=>@student.complete_name, :readonly => true %>
  <%= f.number_field :amount, :placeholder=>'Puntos...', :min=>'0', :max=>"#{current_user.points}" %>
  <%= f.text_field :description, :placeholder=>'Concepto...' %>
  <%= f.hidden_field :to_user_id, :value => @student.id %>
  <%= f.submit "Donar" %>
<% end %>
