<h2 id="title">Nueva donaci&oacute;n</h2>

<%= form_for @donation, :url => donate_student_path(@student) do |f| %>
  <%= f.text_field :to, :value=>@student.complete_name, :readonly => true %>
  <%= f.number_field :amount, :placeholder=>'Puntos...' %>
  <%= f.text_field :description, :placeholder=>'Concepto...' %>
  <%= f.hidden_field :to_user_id, :value => @student.id %>
  <%= f.submit "Donar" %>
<% end %>
