<div data-role="container" id="container">
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	 <a class="close" href="#">×</a>
	 <p><%= flash[:warning] || flash[:notice] %></p>
  </div>
<% end %>
    <div id="main-menu" class="ui-grid-a">
    	<div class="ui-block-a menu-icon">
      	<%= link_to (image_tag "icons/depositar_icon.png"), students_path(:operation => "donation")%>
      </div>
      <div class="ui-block-b menu-icon">
      	<%= link_to (image_tag "icons/multiple_donate.png"), students_path(:multiple => true,:operation => "donation") %>
      </div>
      <div class="ui-block-a menu-icon">
      	<%= link_to (image_tag "icons/retirar_icon.png"), students_path(:operation => "withdraw")%>
      </div>
      <div class="ui-block-b menu-icon">
      	<%= link_to (image_tag "icons/multiple_withdraw.png"), students_path(:operation => "withdraw", :multiple => true)%>
      </div>
      <div class="ui-block-a menu-icon">
      	<%= link_to (image_tag "icons/historial_icon.png"), user_operations_path(current_user)%>
      </div>
      <div class="ui-block-b menu-icon">
      	<%= link_to (image_tag "icons/ranking_icon.png"), ranking_students_path %>
      </div>
    </div>
</div>
