<div data-role="container" id="container">
<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	 <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>
  <div id="login-form-bg">
    <div id="main-menu">
      <%= link_to (image_tag "icons/depositar_icon.png"), students_path(:operation => "donation"), :id => 'menu-icon-1', "class" => "menu-icon" %><br />
      <%= link_to (image_tag "icons/depositar_icon.png"), students_path(:multiple => true,:operation => "donation"), :id => 'menu-icon-1', "class" => "menu-icon" %><br />
      <%= link_to (image_tag "icons/retirar_icon.png"), students_path(:operation => "withdraw"), :id => 'menu-icon-2', "class" => "menu-icon" %><br />
      <%= link_to (image_tag "icons/historial_icon.png"), user_operations_path(current_user), :id => 'menu-icon-2', "class" => "menu-icon" %>
      <%= link_to (image_tag "icons/ranking_icon.png"), ranking_students_path, :id => 'menu-icon-4', "class" => "menu-icon" %>
      <%= link_to (image_tag "icons/retirar_icon.png"), students_path(:operation => "withdraw", :multiple => true), :id => 'menu-icon-2', "class" => "menu-icon" %><br />
    </div>
  </div>
</div>
