<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/identity/HTML5_Badge_64.png" />
    <title><%= content_for?(:title) ? yield(:title) : "Extrapoints" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
    <%= javascript_include_tag "custom-jquery.mobile.js" %>
    <%= javascript_include_tag "jquery.mobile-1.0b3.min.js" %>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script>
    window.addEventListener("load",function() {
      setTimeout(function(){
        // Esconde la barra de dirección
        window.scrollTo(0, 1);
      }, 0);
    });
  </script>
  </head>
  <body>
    <div data-role="page" data-add-back-btn="true" id="wrapper">
     	<% if current_user %>
		  <header data-role="header" data-theme="c">
           <% if is_home_page? %>
              <%= link_to "Fuera!", log_out_path %>
           <% end -%>       
			  <div id="logo-holder">
			  	<%= image_tag("logo-header-bar.png") %>
			  </div>
		  </header>
		  <% end %>
		  <div data-role="container" id="container">
		    <% if flash[:warning] or flash[:notice] %>
           <div data-rel="dialog" id="notice" <% if flash[:warning] %>class="warning"<% end %>>
             <%= flash[:warning] || flash[:notice] %>
           </div>
         <% end %>
        <%= yield %>
    	</div>
    	<% if current_user %>
		  <footer data-role="footer" data-position="fixed" data-theme="c">
		    <div>
		      <span id="notification-number">0</span>
		      Notificaciones
		    </div>  
        <% if current_user.student?-%>
        <div><%= current_user.first_name -%> - <%= current_user.points %></div>
        <% end -%>
		  </footer>
		  <% end %>
    </div>
  </body>
</html>
