<!DOCTYPE html>
<html>
  <head>
		<title><%= content_for?(:title) ? yield(:title) : "Extrapoints" %></title>	
		<meta name="viewport" content="target-densitydpi=device-dpi">
		
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    
		
		<link rel="apple-touch-icon" href="/assets/images/tutsTouchIcon.jpg" />
		<link rel="apple-touch-icon-precomposed" href="/assets/images/Frogger.png" />
		<%= stylesheet_link_tag "styles" %> 
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
		<%= stylesheet_link_tag "jquery.mobile.simpledialog.min.css" %> 
		
		
		
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<%= javascript_include_tag "engine.js" %>
		<%= javascript_include_tag "custom-jquery.mobile.js" %>
		<script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
		<%= javascript_include_tag "jquery.mobile.simpledialog.min.js" %>
		
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div data-role="page" data-add-back-btn="true" id="wrapper">
     	<% if current_user %>
		  <header data-role="header" data-theme="c">
           <% if is_home_page? %>
              <%= link_to "Fuera!", log_out_path %>
           <% end -%>       
			  <div id="logo-holder">
			  	<%= image_tag("logo-header-bar.png") %>
			  </div>
			  <%= link_to "Inicio", menu_students_path if current_user.student? %>
			  <%= link_to "Inicio", menu_teachers_path if current_user.teacher? %>
		  </header>
		  <% end %>
		  <div data-role="container" id="container">  
           <%= yield %>
    	  </div>
    	<% if current_user %>
		  <footer id="footer" data-role="footer"  data-position="fixed" data-theme="c"">
		  	<% if current_user.student? and @notifications %>
		    <div>
		    	<%= link_to "#{@notifications.size}", notifications_path, :id=>'notification-number' %>
		      Notificaciones
		    </div> 
		    <% end %> 
        <div><%= current_user.complete_name if current_user -%><%= - current_user.points if current_user.student? %></div>
		  </footer>
		  <% end %>
    </div>
   
  </body>
</html>
