<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/identity/HTML5_Badge_64.png" />
    <title><%= content_for?(:title) ? yield(:title) : "Extrapoints" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script>
    window.addEventListener("load",function() {
      setTimeout(function(){
        // Esconde la barra de dirección
        window.scrollTo(0, 1);
      }, 0);
    });
  </script>
  </head>
  <body>
    <div data-role="page" id="wrapper">
      <div id="logo-login"><%= image_tag("logo.png") %></div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

    </div>
  </body>
</html>
