<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/identity/HTML5_Badge_64.png" />
    <title><%= content_for?(:title) ? yield(:title) : "Extrapoints" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
    <%= javascript_include_tag "custom-jquery.mobile.js" %>
    <%= javascript_include_tag "jquery.mobile-1.0b3.min.js" %>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script>
    window.addEventListener("load",function() {
      setTimeout(function(){
        // Esconde la barra de dirección
        window.scrollTo(0, 1);
      }, 0);
    });
  </script>
  </head>
  <body>
    <div data-role="page" id="wrapper">
   	<% if current_user %>
		<header data-role="header">
			<%= link_to "Log out", log_out_path %>
      <h1><%= current_user.first_name %> <span id="user_points"> <%= current_user.points if current_user.student? %></span></h1>
		</header>
		<% end %>
      <div id="logo-login"><%= image_tag("logo.png") %></div>
      <%= yield %>
    </div>
  </body>
</html>
