<h2 id="title">Mi Historial</h2>
<ul id="user-history" data-role="listview" data-theme="c">
  <% if @operations %>
    <% @operations.each do |operation| %>
      <li>
      <% if operation.op_type == 'donation' %>
      	<% if operation.from_user == current_user %>
      		<%= image_tag ("icons/donation_from.png"), :class => "donation_from" %>
      	<% else %>
      		<%= image_tag ("icons/donation_to.png"), :class => "donation_to" %>
      	<% end %>
      <% else %>
      	<%= image_tag ("icons/withdraw.png"), :class => "withdraw" %>	
     	<% end %>
      <div class="transaction-info">
        <p class="users"><%= operation.to_user.complete_name %><span class="amount"> <%= operation.amount %> puntos</span>.</p>
        <p class="users"><%= operation.description %>. </p>
        <p class="users">Puntos restantes: <%= operation.after_balance %>. </p>
        <div class="time-place">
          <span class="time">
            <%= operation.created_at.strftime("%d/%m/%Y")%>
            -
            <%= operation.created_at.strftime("%I:%M %p")%>
          </span>
        </div>
      </div>
      </li>
    <% end %>
  <% else %>
    <li>
    No existen transacciones registradas
    </li>
  <% end %>
</ul>
