<% if session[:op_type] == "donation" %>
  <h2 id="title">Nueva donaci&oacute;n</h2>
<% else %>
  <h2 id="title">Nuevo retiro</h2>
<% end %>

<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	 <a class="close" href="#">×</a>
	 <p><%= flash[:warning] || flash[:notice] %></p>
  </div>
<% end %>

<%= form_tag({:controller => "operations", :action => "create_multiple"}, :method => "post", :id=>'new_operation') do %>
  <%= text_area_tag(:operation_to, "#{@students_names}", :readonly => true) %>
  <%= number_field_tag(:operation_amount, '',:placeholder=>'Puntos...', :min=>'1', :max=>'100', :class=>"required")%>
  <%= text_field_tag(:operation_description, '', :placeholder=>'Concepto...', :class=>"required")%>
	<% if session[:op_type] == "donation" %>
		<a id="operation_confirm" data-role="button">Donar</a>
	<% else %>
		<a id="operation_confirm" data-role="button">Retirar</a>
	<% end %>
<% end %>
